.todo-item {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px #ccc dotted;
    margin: 10px;
}

.is-complete {
    text-decoration: line-through;
}

.del{
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 9px;
    cursor: pointer;
    float: right;
}